@(sectionINSA: String, contestents: Contestent, currentNumberID: Int, cellNum: Int, lineNum: Int, nbTotal: Int)

@import models.Contestent

<div class="span3" style="text-align:center;">
    <table>
        <tr>
            <td class="span4"  align="center">
                <img id="@{sectionINSA}_@nbTotal" alt="@contestents.imgConstes1" title="@contestents.imgConstes1" src="/assets/images/imgINSA_2013/@contestents.imgConstes1" class="img-polaroid">
            </td>
            <td class="span4"  align="center">
                <img src="/assets/images/VS.png" class="img-circle">
            </td>
            <td class="span4"  align="center">
                <img id="@{sectionINSA}_@{nbTotal+1}" alt="@contestents.imgConstes1" title="@contestents.imgConstes2" src="/assets/images/imgINSA_2013/@contestents.imgConstes2" class="img-polaroid">
            </td>
        </tr>
        <tr id='tr@lineNum-@cellNum'>
            <td class="span4" align="center">
                <a id="b@{sectionINSA}_@nbTotal" class="btn btn-inverse" onclick="checkBTN('@{sectionINSA}_@{nbTotal}');"><i class="icon-thumbs-up icon-white"></i></a>
            </td>
            <td class="span4"  align="center">
                <a class="btn btn-danger " onclick="checkVote('tr@lineNum-@cellNum',0)">Vote</a>
            </td>
            <td class="span4"  align="center">
                <a id="b@{sectionINSA}_@{nbTotal+1}" class="btn btn-inverse" onclick="checkBTN('@{sectionINSA}_@{nbTotal+1}');"><i class="icon-thumbs-up icon-white"></i></a>
            </td>
        </tr>
    </table>
</div>

