@(parent: String, name: String, title: String)

<div class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#@parent" href="#@name" onclick="loadYear_Spe('@name', 'content@name');"> @title</a>
  </div>
  <div id="@name" class="accordion-body  collapse" style="height: 0px;" >
    <div class="accordion-inner">
      <ul>
