@(contestents: List[Contestent], year: String)
@import models.Contestent
<div class='row-fluid'>
    @{
        var nbCell: Int = 0;
        var nbLine: Int = 0;
        var nbTotal: Int = 0;
        contestents.map( c => {
            var ret = line_constest_template(year, c, nbCell*2, nbCell, nbLine, nbTotal)
            nbCell += 1;
            nbTotal += 2;
            if(nbCell%3 == 0) {
                ret +=  Html("</div>")
                ret += Html("<div class='row-fluid'>")
                nbLine +=  1
                nbCell = 0
            } else {
                ret +=  Html("<div class='span1'><img src='/assets/images/vr.png'></div>")
            }

            ret;
        })
    }
</div>
