@(id: String)
@import helper._
@import controllers.routes.javascript._
<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Bienvenue</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Le styles -->
        <link href="@routes.Assets.at("stylesheets/bootstrap.css")" rel="stylesheet">

        <style type="text/css">

            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
            .sidebar-nav-fixed .accordion-body {
                max-height: 500px;
                overflow-y: auto;
                overflow-x:auto;
            }
            .navbar .accordion-body:before {
                content:normal;
            }
            .sidebar-nav-fixed {
                padding: 9px 0;
                position:fixed;
                left:20px;
                top:60px;
                width:250px;
            }

            .row-fluid > .span-fixed-sidebar {
                margin-left: 290px;
            }

        </style>

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="ico/favicon.png">
        <script type="text/javascript" src='@routes.Application.javascriptRoutes()'></script>
        <script language="javascript">

            var loadedYearMap = new Object();

            function hasOwnProperty(obj, prop) {
                var proto = obj.__proto__ || obj.constructor.prototype;
                return (prop in obj) &&
                    (!(prop in proto) || proto[prop] !== obj[prop]);
            }

            function loadYear_Spe(year_spe, contentID) {
                if(!hasOwnProperty(loadedYearMap, year_spe)) {
                    loadedYearMap[year_spe] = true;
                    jsRoutes.controllers.Application.getYearSpe(year_spe).ajax({
                        success: function(data) {
                            $("#"+contentID).html(data);
                        },
                        error: function() {
                                alert("Error!")
                        }
                    })
                }
            }

            function fillNbMess(data)
            {
                document.getElementById('nbNewMess').innerHTML = data;
            }

            function checkNewMess()
            {
                //Project_Management_Presenter_Intern_Methods.getNbMessagesForStatus('<%=session.getAttribute("token")%>', '', fillNbMess);
                //alert("too");
                //fillNbMess(readCookie('id'));
                jsRoutes.controllers.Application.nbMess(readCookie('id')).ajax({
                    success : function(data) { document.getElementById('nbNewMess').innerHTML = readCookie('nbMess');}
                });
            }

            function readCookie(name) {
            	var nameEQ = name + "=";
            	var ca = document.cookie.split(';');
            	for(var i=0;i < ca.length;i++) {
            		var c = ca[i];
            		while (c.charAt(0)==' ') c = c.substring(1,c.length);
            		if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
            	}
            	return null;
            }



            function checkBTN(id) {
                console.log(id);
            	var btn = document.getElementById("b"+id);
            	var img = document.getElementById(id).src;
            	var infos = id.split("_");

            	if(parseInt(infos[1],10)%2 == 0) {
                    console.log("b"+infos[0]+"_"+(parseInt(infos[1],10)+1))
            		document.getElementById("b"+infos[0]+"_"+(parseInt(infos[1],10)+1)).className= "btn btn-inverse";
            	}
            	else {
                    console.log("b"+infos[0]+"_"+(parseInt(infos[1],10)-1))
            		document.getElementById("b"+infos[0]+"_"+(parseInt(infos[1],10)-1)).className= "btn btn-inverse";
            	}
              	btn.className= "btn btn-warning";
            }

            function checkVote(trId, cellNum) {
                var row = document.getElementById(trId);
                console.log(trId);
                var cells = row.getElementsByTagName('td');

                console.log(cellNum);
                var c1 = cells[cellNum].getElementsByTagName('a')[0];
                var c2 = cells[cellNum+2].getElementsByTagName('a')[0];


                if(document.getElementById(c1.id).className == "btn btn-warning" || document.getElementById(c2.id).className== "btn btn-warning") {

                    var imgC1 = document.getElementById(c1.id.substr(1)).title;
                    var imgC2 = document.getElementById(c2.id.substr(1)).title;

                    cells[cellNum].removeChild(cells[cellNum].firstChild);
                    cells[cellNum+1].removeChild(cells[cellNum+1].firstChild);
                    cells[cellNum+1].removeChild(cells[cellNum+1].firstChild);
                    cells[cellNum+2].removeChild(cells[cellNum+2].firstChild);

                    if (c1.className ==  "btn btn-warning") {

                        jsRoutes.controllers.Application.updateScores(true,imgC1, imgC2 ).ajax({
                        success : function(data) {
                                var p1 = data.split("::")[0]+"\%";
                                var p2 = data.split("::")[1]+"\%";

                                cells[cellNum].appendChild(document.createTextNode(p1 + "("+data.split("::")[2]+")"));
                                cells[cellNum+2].appendChild(document.createTextNode(p2+ "("+data.split("::")[3]+")"));
                            }
                        });
                        //alert(c1.id);
                    }
                    else {
                        //alert(c2.id);
                        jsRoutes.controllers.Application.updateScores(false,imgC1, imgC2 ).ajax({
                        success : function(data) {
                                var p1 = data.split("::")[0]+"\%";
                                var p2 = data.split("::")[1]+"\%";

                                cells[cellNum].appendChild(document.createTextNode(p1 + "("+data.split("::")[2]+")"));
                                cells[cellNum+2].appendChild(document.createTextNode(p2+ "("+data.split("::")[3]+")"));
                            }
                        });
                    }



                    cells[cellNum].style.color="white";
                    cells[cellNum+2].style.color="white";
                }
                else {
                    alert("Faut voter, boulet !");
                }
            }
        </script>
    </head>

    <body>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand pull-left" href="#">Girls INSA Tournament - 2013</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="/BE_A2_2012_2013/welcome">Accueil</a></li>
                            <li class="dropdown">
                                <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">---- <b class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                                    <li><a tabindex="-1" href="/BE_A2_2012_2013/task/myTasks">Mes t&acirc;ches</a></li>
                                    <li><a tabindex="-1" href="/BE_A2_2012_2013/task/listOfTasks">Toutes les t&acirc;ches</a></li>
                                    <li class="divider"></li>
                                    <li><a tabindex="-1" href="/BE_A2_2012_2013/task/createTask">Cr&eacute;er une nouvelle t&acirc;che</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a id="drop2" href="#" role="button" class="dropdown-toggle" onclick="checkNewMess();" data-toggle="dropdown">---- <b class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                                    <li><a tabindex="-1" href="/BE_A2_2012_2013/message/inbox" >Bo&icirc;te de r&eacute;c&eacute;ption <span class="badge badge-info" ><b id="nbNewMess"></b></span></a></li>
                                    <li><a tabindex="-1" href="/BE_A2_2012_2013/message/createMessage">Envoyer un message</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a id="drop3" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">---- <b class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                                    <li><a tabindex="-1" href="/BE_A2_2012_2013/group/listOfGroup">Consulter liste groupes</a></li>
                                    <li class="divider"></li>
                                    <li><a tabindex="-1" href="/BE_A2_2012_2013/group/createGroup">Ajouter un nouveau groupe</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a id="drop4" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">---- <b class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                                    <li><a tabindex="-1" href="/BE_A2_2012_2013/user/listOfUser">Consulter liste utilisateurs</a></li>
                                    <li class="divider"></li>
                                    <li><a tabindex="-1" href="/BE_A2_2012_2013/user/updateProfileInfos">Mettre &agrave; jour mon profil</a></li>
                                    <li><a tabindex="-1" href="/BE_A2_2012_2013/user/createNewUser">Ajouter un nouvel utilisateur</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a id="drop5" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">--- <b class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                                    <li><a tabindex="-1" href="/BE_A2_2012_2013/user/createNewUser">Importer un fichier XML</a></li>
                                </ul>
                            </li>
                        </ul>
                        <a href="/BE_A2_2012_2013/deconnection"><input type="button" class="btn btn-normal btn-danger pull-right" value="D&eacute;connexion"/></a>

                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2">
                    <div class="well sidebar-nav-fixed">
                        <div class="accordion" id="accordion">
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#tasksDetail">
                                        ----
                                    </a>
                                </div>
                                <div id="tasksDetail" class="accordion-body  collapse" style="height: 0px; ">
                                    <div class="accordion-inner">
                                        <ul>
                                            ${myTasks}
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#messages">
                                        -----
                                    </a>
                                </div>
                                <div id="messages" class="accordion-body collapse" style="height: 0px; ">
                                    <div class="accordion-inner">
                                        <ul>
                                            ${myMessages}
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#users">
                                        -----
                                    </a>
                                </div>
                                <div id="users" class="accordion-body collapse" style="height: 0px; ">
                                    <div class="accordion-inner">
                                        <ul>
                                            ${users}
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#groups">
                                        -----
                                    </a>
                                </div>
                                <div id="groups" class="accordion-body collapse" style="height: 0px; ">
                                    <div class="accordion-inner">
                                        <ul>
                                            ${groups}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--/.well -->
                </div><!--/span-->

                <div class="span9 offset2">
                    <!--  ${welcomeMessage} -->
                    <div class="hero-unit">
                        <h1>Bienvenue @id</h1>
                    </div>
                    <div class="row-fluid">
                    <div class="container-fluid">
						<div class="row-fluid">
							<div class="accordion" id="#accordion">
    							@template.open_accordion_template("accordion", "1A", "1A")
                                <div id="content1A"></div>
                                @template.close_accordion_template()

                                @template.open_accordion_template("accordion", "2A", "2A")
                                    @template.open_accordion_template("accordion2A", "2AMIC", "2A MIC")
                                        <div id="content2AMIC"></div>
                                    @template.close_accordion_template()
                                    @template.open_accordion_template("accordion2A", "2AICBE", "2A ICBE")
                                        <div id="content2AICBE"></div>
                                    @template.close_accordion_template()
                                    @template.open_accordion_template("accordion2A", "2AIC", "2A IC")
                                        <div id="content2AIC"></div>
                                    @template.close_accordion_template()
                                    @template.open_accordion_template("accordion2A", "2AIMACS", "2A IMACS")
                                        <div id="content2AIMACS"></div>
                                    @template.close_accordion_template()
                                @template.close_accordion_template()

                                @template.open_accordion_template("accordion", "3A", "3A")
                                    @template.open_accordion_template("accordion3A", "3AMIC", "3A MIC")
                                        <div id="content3AMIC"></div>
                                    @template.close_accordion_template()
                                    @template.open_accordion_template("accordion3A", "3AICBE", "3A ICBE")
                                        <div id="content3AICBE"></div>
                                    @template.close_accordion_template()
                                    @template.open_accordion_template("accordion3A", "3AIC", "3A IC")
                                        <div id="content3AIC"></div>
                                    @template.close_accordion_template()
                                    @template.open_accordion_template("accordion3A", "3AIMACS", "3A IMACS")
                                        <div id="content3AIMACS"></div>
                                    @template.close_accordion_template()
                                @template.close_accordion_template()

                                @template.open_accordion_template("accordion", "4A", "4A")
                                    @template.open_accordion_template("accordion4A", "4ABI", "4A BI (GBA)")
                                        <div id="content4ABI"></div>
                                    @template.close_accordion_template()
                                    @template.open_accordion_template("accordion4A", "4AGC", "4A GC")
                                        <div id="content4AGC"></div>
                                    @template.close_accordion_template()
                                    @template.open_accordion_template("accordion4A", "4AAE", "4A AE")
                                        <div id="content4AAE"></div>
                                    @template.close_accordion_template()
                                    @template.open_accordion_template("accordion4A", "4AIR", "4A IR")
                                        <div id="content4AIR"></div>
                                    @template.close_accordion_template()
                                    @template.open_accordion_template("accordion4A", "4AGM", "4A GM")
                                        <div id="content4AGM"></div>
                                    @template.close_accordion_template()
                                    @template.open_accordion_template("accordion4A", "4AGMM", "4A GMM")
                                        <div id="content4AGMM"></div>
                                    @template.close_accordion_template()
                                    @template.open_accordion_template("accordion4A", "4AGP", "4A GP")
                                        <div id="content4AGP"></div>
                                    @template.close_accordion_template()
                                    @template.open_accordion_template("accordion4A", "4APR", "4A PR (GPE)")
                                        <div id="content4APR"></div>
                                    @template.close_accordion_template()
                                @template.close_accordion_template()

                                @template.open_accordion_template("accordion", "5A", "5A")
                                    @template.open_accordion_template("accordion5A", "5ABI", "5A BI (GBA)")
                                        <div id="content5ABI"></div>
                                    @template.close_accordion_template()
                                    @template.open_accordion_template("accordion5A", "5AGC", "5A GC")
                                        <div id="content5AGC"></div>
                                    @template.close_accordion_template()
                                    @template.open_accordion_template("accordion5A", "5AAE", "5A AE")
                                        <div id="content5AAE"></div>
                                    @template.close_accordion_template()
                                    @template.open_accordion_template("accordion5A", "5AIR", "5A IR")
                                        <div id="content5AIR"></div>
                                    @template.close_accordion_template()
                                    @template.open_accordion_template("accordion5A", "5AGM", "5A GM")
                                        <div id="content5AGM"></div>
                                    @template.close_accordion_template()
                                    @template.open_accordion_template("accordion5A", "5AGMM", "5A GMM")
                                        <div id="content5AGMM"></div>
                                    @template.close_accordion_template()
                                    @template.open_accordion_template("accordion5A", "5AGP", "5A GP")
                                        <div id="content5AGP"></div>
                                    @template.close_accordion_template()
                                    @template.open_accordion_template("accordion5A", "5APR", "5A PR (GPE)")
                                        <div id="content5APR"></div>
                                    @template.close_accordion_template()
                                @template.close_accordion_template()


							</div>
						</div>
					</div>

                    <hr>

                    <footer>
                        <p>&copy; GIT 2013</p>
                    </footer>

                </div> <!-- /container -->

            </div>
        </div>
        <!-- Le javascript
        ================================================== -->
         <!-- Placed at the end of the document so the pages load faster -->
        <script src="@routes.Assets.at("javascripts/jquery.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.js")"></script>


    </body>
</html>
